.section {
    background-color: var(--dark-bg);
    border-radius: 8px;
    padding: 14px;
    margin-bottom: 24px;
}

.text {
    font-size: 12px;
    line-height: 1.33;
    margin: 14px 0 18px;

    &Color {
        color: var(--light-green);
    }
}

.button {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: -0.02em;
    color: var(--white);
}

.icon {
    width: 20px;
    height: 20px;
    fill: transparent;
    stroke: var(--white);
}
