@import 'reset';
@import 'fonts';

:root {
    --light-green: #bedbb0;
    --dark-green: #9dc888;
    --white: #ffffff;
    --dark-bg: #1f1f1f;
    --light-bg: #f6f6f7;
    --violet-bg: #ecedfd;
    --dark-modal: #151515;
    --light-modal: #fcfcfc;
    --auth-dark: #161616;
    --sidebar-dark: #121212;

    --font-family: 'Poppins', sans-serif;
}

body {
    font-family: var(--font-family);
    font-size: 14px;
    color: var(--white);
    background-color: var(--dark-bg);
}
