@import "src/styles/mixins";

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    background: linear-gradient(to bottom, #f6f6f7, #e2e6e1, #bfdbb2);
}

.wrapper {
    background-color: var(--dark-modal);
    border-radius: 8px;
    padding: 24px;

    @include media-rules(tablet) {
        max-width: 424px;
        padding: 40px;
        margin: 0 auto;
    }
}

.inputWrapper {
    position: relative;
}

.icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    fill: transparent;
    stroke: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 24px;
}
