@import "src/styles/mixins";

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    background: linear-gradient(to bottom, #f6f6f7, #e2e6e1, #bfdbb2);
}

.wrapper {
    background-color: var(--dark-modal);
    border-radius: 8px;
    padding: 24px;

    @include media-rules(tablet) {
        max-width: 424px;
        padding: 40px;
        margin: 0 auto
    }
}

.formWrapper {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 24px;
}
