@import "src/styles/mixins";

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    background: linear-gradient(to bottom, #f6f6f7, #e2e6e1, #bfdbb2);
}

.wrapper {
    background-color: var(--dark-modal);
    border-radius: 8px;
    padding: 24px;

    @include media-rules(tablet) {
        max-width: 424px;
        padding: 40px;
        margin: 0 auto
    }
}

.controlList {
    display: flex;
    gap: 14px;
    margin-bottom: 40px;
}

.controlLink {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.3);
}

.controlLink:global(.active) {
    color: var(--white);
}

.formWrapper {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 24px;
}
