@import "src/styles/mixins";

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 225px;
    width: 100%;
    height: 100dvh;
    background-color: var(--sidebar-dark);
    // transform: translateX(-100%);
    padding: 14px 0 24px;

    @include media-rules(tablet) {
        max-width: 260px;
    }
}

.container {
    max-width: 197px;
    margin: 0 auto;
}
