@import 'src/styles/mixins';

.sidebar {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    transform: translateX(calc(-100% - 225px));
    @include transition(transform);
}

.overlay {
    position: absolute;
    left: 225px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(21, 21, 21, 0.5);
}

.sidebarContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 225px;
    width: 225px;
    height: 100%;
    background-color: var(--sidebar-dark);
    padding: 14px 0 24px;
}

.active {
    transform: translateX(0);
}

.container {
    max-width: 197px;
    margin: 0 auto;
}
