@import 'src/styles/mixins';

.buttonDefault {
    width: 100%;
    height: 49px;
    font-weight: 500;
    letter-spacing: -0.02em;
    color: var(--auth-dark);
    border-radius: 8px;
    background-color: var(--light-green);
    @include transition(background-color);

    &:is(:hover, :focus) {
        background-color: var(--dark-green);
    }
}

.button {
    composes: buttonDefault;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    background-color: var(--auth-dark);
    border-radius: 6px;
}

.icon {
    width: 14px;
    height: 14px;
    stroke: var(--white);
}
